/* global element styles */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 80px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

nav {
    background-color: #fff;
    text-align: center;
    margin: 0 auto 31px;
}

.container {
    display: flex;
}

/* global navigation section */

header .container {
    display: flex;
    flex-direction: row;
}

header img {
    height: 120px;
    width: 150px;
    min-width: 80px;
    min-height: 70px;
    margin-left: 30px;
    position: absolute;
    z-index: 2;
}

.navigaion-top ul {
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

nav ul {
    padding-top: 35px;
}

nav a {
    color: #000;
    text-transform: uppercase;
    font-size: 21px;
    padding: 59px 50px 48px 50px;
    transition-property: background-color, color;
    transition-duration: 500ms;
}

nav a:hover {
    color: white;
    background-color: black;
}

nav .dropdown {
    display: none;
}

@media only screen and (max-width: 1085px) {

    nav {
        margin-right: 20px;
    }

    nav ul { 
        display: none; 
    }

    nav .dropdown {
        display: inline-block;
        position: sticky;
    }

    nav .button-dropdown {
        color: #000;
        background-color: #fff;
        text-transform: uppercase;
        font-size: 21px;
        margin-top: 21px;
        padding: 20px 45px;
        transition-property: background-color, color;
        transition-duration: 500ms;
    }

    nav .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 155px;
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
      }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .button-dropdown {background-color: black; color: white}
}

/* global footer section */ 

footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
}


/* HOME PAGE STYLES */

/* page hero section */

.page-hero {
    background: url(page-hero-img.png) no-repeat top center;
    background-size: cover;
    max-width: 100%;
    height: 750px;
    text-align: center;
    border: 1px solid black;
}

.page-hero h1 {
    color: #fff;
    font-weight: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 50px;
}

.page-hero h3 {
    color: white;
    margin-top: 460px;
    padding-bottom: 10px;
    font-size: 27px;
}

@media only screen and (max-width: 1342px) {
    .page-hero h3 {
        margin-top: 430px;
    }
}

@media only screen and (max-width: 840px) {
    .page-hero h1 {
        margin-top: 5px;
    }
    
    .page-hero h3 {
        margin-top: 383px;
    }
}

#button-page-hero {
    margin-top: 300px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-decoration: underline;
}

#button-page-hero:hover {
    text-decoration: none;
}

/* robot structure section */

.gallery .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.front-view, .back-view {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.front-view img, .back-view img{
    width: 450px;
    min-width: 200px;
    height: auto;
    margin: 0px 60px 40px;
}

/* mode description sections */

.mode-1 h2, .mode-2 h2 {
    padding-top: 25px;
}

.mode-1 p, .mode-2 p {
    font-size: 20px;
    margin-top: 0px;
    line-height: 30px;
    margin: 0px 70px 30px;
}

.mode-1 .button, .mode-2 .button {
    display: flex;
    width: 150px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    margin-left: 70px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0px 5px;
}

.mode-1-description .button {
    color:#7F7373;
}

.mode-2-description .button {
    color:#667F6D;
}

.mode-1-description .button:active, .mode-2-description .button:active {
    margin-top: 10px;
    box-shadow: 0px 0px;
}

.mode-1 {
    background-color: #B3A1A1;
}

.mode-1-content {
    display: flex;
}

.mode-1 img {
    height: 400px;
    width: 450px;
    min-width: 450px;
    margin: 0px 0px 75px 75px;
}

.mode-2 {
    background-color: #8FB399;
    margin-top: -42px;
}

.mode-2-content {
    display: flex;
}

.mode-2 img {
    height: 400px;
    width: 450px;
    min-width: 450px;
    margin: 0px 75px 75px 0px;
}

@media only screen and (max-width: 1080px) {
    .mode-1-content {
        flex-wrap: wrap;
    }

    .mode-1-description {
        margin-top: 20px;
    }

    .mode-2-content {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1080px) {
    .mode-1-image {
        margin: 0 auto;
    }

    .mode-1 img {
        margin: 0;
    }

    .mode-2-image {
        margin: 0 auto;
    }

    .mode-2 img {
        margin: 0;
    }
}


/* MODE 1 PAGE STYLES */

.mode1_title{
    display: flex;
    background-image: url("mode1_bg.jpg"); 
}

.mode1_title h1{
    margin: 0 auto;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.mode-1-sub{
    display: flex;
    flex-direction: row;
    background-color: rgb(220, 253, 255);
}

.mode-1-sub h2{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    color: rgb(32, 153, 32);
}

.option1{
    width: 50%;
}

.shapes{
    margin-left: 20%;
}

.shapes img{
    border-radius: 25px;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}

.block{
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 10px;
    margin-bottom: 1%;

}

.shape_text{
    margin-left: 20%;
    text-shadow: 2px 2px 5px rgb(204, 7, 178);
    font-size: 25px;
    font-weight: 400;
    font-family: fantasy;
}

.option2{
    width: 50%;
}

.chatbox canvas {
    outline: 5px solid #c2ebc4;
    border-radius: 5px;
    margin-bottom: 2%;
  }

.text form #fname{
    width: 40%;
}
 
.chatbox {
    width: 500px;
    margin: 0 auto;
    padding-top: 15px;
}

.chatbox canvas {
    outline: 1px solid #CCCCCC;
    border-radius: 5px;
}

.chatbox #content {
    resize: none;
    width: calc(100% - 30px);
    margin: 10px 0;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #a4cdec;
}

.chatbox > button{
    border: 2px solid rgb(226, 139, 139);
    background-color: #f5fdc7;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 2px 3px 1px 1px rgb(39, 36, 39);
    margin-right: 10px;
    margin-bottom: 3%;
    cursor: pointer;
  }


/* MODE 2 PAGE STYLES */

.mode-2-title {
    display: flex;
    background-image: url("mode2_bg.png"); 
    height: 70px;
}

.mode-2-title h1{
    margin: 0 auto;
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.mode-2-instruction {
    display: flex;
    flex-direction: column;
    background-color: #97C997;
    color: #FFFFFF;
}

.controlpad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #8FB399;
}

.controlpad input {
    background-color: #E6FFED;
    height: 200px;
    width: 200px;
    font-size: 400%;
    border-radius: 10px;
}

.controlpad-top {
    display: flex;
    margin-top: 10%;
}

.controlpad-bottom {
    display: flex;
    margin-bottom: 10%;
}

.controlpad-right {
    margin-left: 10%;
    margin-right: 3%;
}

.controlpad-left {
    margin-left: 3%;
}

.controlpad .filler {
    background-color: #8FB399;
    border: 1px solid #8FB399;
}

@media only screen and (max-width: 920px) {
    .controlpad input {
        background-color: #E6FFED;
        height: 100px;
        width: 100px;
        font-size: 200%;
        border-radius: 10px;
    }
}


/* Showcase page styles */
.oi {
    height: 400px;
}










